.status-tag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 20px;
  min-width: 76px;
  width: max-content;
  height: 26px;
  font-size: var(--font-size-base);
  overflow: hidden;

  .txt {
    display: flex;
    align-items: center;
    height: 20px;

    &.err {
      cursor: default;
    }
  }

  &.download {
    border: 1px solid #93ecc5 !important;
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    // background-color: rgba(0, 0, 0, 15%);
    background-color: #e0f5ec;
  }

  .progress {
    position: relative;
    z-index: 10;
    // color: var(--ant-color-text);
    color: var(--color-progress-green);
  }
}

.tooltip-scrollbar {
  .simplebar-scrollbar::before {
    width: var(--scrollbar-size);
    background: var(--scrollbar-handle-light-bg);
  }
}
