.cell {
  padding: var(--ant-table-cell-padding-block)
    var(--ant-table-cell-padding-inline);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 68px;

  .cell-content {
    max-width: 100%;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }
}
