.table-header {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: var(--ant-table-cell-padding-inline);
  border-right: 1px solid var(--ant-table-header-split-color);

  &-last {
    border-right: none;
  }

  &-cell {
    font-weight: var(--font-weight-medium);
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }

  .sorter-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .sorter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 4px;

      .anticon {
        font-size: 10px;
        color: rgba(0, 0, 0, 29%);
      }

      .sorter-up {
        margin-bottom: -0.125em;
      }

      .sorter-down {
        margin-top: -0.125em;
      }

      .sorter-active {
        color: var(--ant-color-primary);

        .anticon {
          color: var(--ant-color-primary);
        }
      }
    }
  }
}
