.cardWrapper {
  border-radius: var(--border-radius-small);
  background-color: var(--color-white-1);
  // box-shadow: var(--box-shadow-base);
  box-shadow: none;
  padding: 10px;
  border: 1px solid var(--ant-color-border);
}
