@font-face {
  font-family: iconfont; /* Project id 4613488 */
  src: url('iconfont.woff2?t=1766993792323') format('woff2'),
       url('iconfont.woff?t=1766993792323') format('woff'),
       url('iconfont.ttf?t=1766993792323') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud::before {
  content: "\e6bc";
}

.icon-server02::before {
  content: "\e6bd";
}

.icon-drag_handle::before {
  content: "\e6b9";
}

.icon-basic::before {
  content: "\e6bb";
}

.icon-settings::before {
  content: "\e6b8";
}

.icon-speed::before {
  content: "\e6ba";
}

.icon-permission::before {
  content: "\e6b6";
}

.icon-captive_portal::before {
  content: "\e6b7";
}

.icon-lock_open_right::before {
  content: "\e6b3";
}

.icon-lock_person::before {
  content: "\e6b4";
}

.icon-lock_open::before {
  content: "\e6b5";
}

.icon-question::before {
  content: "\e6b2";
}

.icon-aws::before {
  content: "\e616";
}

.icon-aws1::before {
  content: "\e62f";
}

.icon-manage_user::before {
  content: "\e6b1";
}

.icon-private::before {
  content: "\e6b0";
}

.icon-stop3::before {
  content: "\e6af";
}

.icon-version::before {
  content: "\e6ae";
}

.icon-edit-content::before {
  content: "\e6ab";
}

.icon-code_block::before {
  content: "\e6ac";
}

.icon-parameters::before {
  content: "\e6ad";
}

.icon-backend-filled::before {
  content: "\e6a9";
}

.icon-backend::before {
  content: "\e6aa";
}

.icon-down2::before {
  content: "\e6a7";
}

.icon-nvidia2::before {
  content: "\e60d";
}

.icon-centos::before {
  content: "\e6cd";
}

.icon-redhat::before {
  content: "\ec7b";
}

.icon-ubuntu::before {
  content: "\edd3";
}

.icon-debian::before {
  content: "\eb74";
}

.icon-alma-linux::before {
  content: "\e6a8";
}

.icon-fedora::before {
  content: "\e61a";
}

.icon-rocky-linux::before {
  content: "\e620";
}

.icon-nvidia1::before {
  content: "\e980";
}

.icon-nvidia::before {
  content: "\e60c";
}

.icon-amd::before {
  content: "\e6a6";
}

.icon-huawei::before {
  content: "\e615";
}

.icon-metax::before {
  content: "\e6a4";
}

.icon-ascend::before {
  content: "\e6a3";
}

.icon-huaweicloud::before {
  content: "\e614";
}

.icon-alicloud::before {
  content: "\e784";
}

.icon-tencentcloud::before {
  content: "\e609";
}

.icon-cluster2-outline::before {
  content: "\e6a1";
}

.icon-cluster2-filled::before {
  content: "\e6a2";
}

.icon-cluster-filled::before {
  content: "\e69f";
}

.icon-cluster-outline::before {
  content: "\e6a0";
}

.icon-admin-user::before {
  content: "\e69d";
}

.icon-user::before {
  content: "\e69e";
}

.icon-detail-info::before {
  content: "\e69b";
}

.icon-docker::before {
  content: "\e69c";
}

.icon-digitalocean::before {
  content: "\eb79";
}

.icon-rocket-launch1::before {
  content: "\e699";
}

.icon-rocket-launch-fill::before {
  content: "\e69a";
}

.icon-credential-filled::before {
  content: "\e697";
}

.icon-credential-outline::before {
  content: "\e698";
}

.icon-k8s-filled::before {
  content: "\e63e";
}

.icon-k8s-outline::before {
  content: "\e64b";
}

.icon-huggingface1::before {
  content: "\e605";
}

.icon-modelscope_light::before {
  content: "\e696";
}

.icon-catalog1::before {
  content: "\e691";
}

.icon-chat-filled::before {
  content: "\e692";
}

.icon-chat::before {
  content: "\e693";
}

.icon-files-filled::before {
  content: "\e694";
}

.icon-files::before {
  content: "\e695";
}

.icon-models-filled::before {
  content: "\e682";
}

.icon-image-filled::before {
  content: "\e683";
}

.icon-audio1::before {
  content: "\e684";
}

.icon-image1::before {
  content: "\e685";
}

.icon-audio-filled::before {
  content: "\e686";
}

.icon-reranker-filled::before {
  content: "\e687";
}

.icon-embedding-filled::before {
  content: "\e68a";
}

.icon-models::before {
  content: "\e68b";
}

.icon-reranker::before {
  content: "\e68c";
}

.icon-embedding::before {
  content: "\e68d";
}

.icon-gpu-filled::before {
  content: "\e68e";
}

.icon-catalog-filled::before {
  content: "\e68f";
}

.icon-gpu1::before {
  content: "\e690";
}

.icon-language::before {
  content: "\e679";
}

.icon-help::before {
  content: "\e67a";
}

.icon-key-filled::before {
  content: "\e67b";
}

.icon-key::before {
  content: "\e67d";
}

.icon-resources::before {
  content: "\e67e";
}

.icon-users::before {
  content: "\e67f";
}

.icon-resources-filled::before {
  content: "\e680";
}

.icon-users-filled::before {
  content: "\e681";
}

.icon-model::before {
  content: "\e676";
}

.icon-model-filled::before {
  content: "\e678";
}

.icon-layers-filled::before {
  content: "\e671";
}

.icon-layers::before {
  content: "\e673";
}

.icon-experiment::before {
  content: "\e674";
}

.icon-experiment-filled::before {
  content: "\e675";
}

.icon-dashboard::before {
  content: "\e66d";
}

.icon-dashboard-filled::before {
  content: "\e66e";
}

.icon-expand-left::before {
  content: "\ea48";
}

.icon-expand-right::before {
  content: "\ea49";
}

.icon-users-fill::before {
  content: "\e677";
}

.icon-layers-fill::before {
  content: "\e89d";
}

.icon-key-fill::before {
  content: "\e80e";
}

.icon-server-fill::before {
  content: "\e7a3";
}

.icon-model-fill::before {
  content: "\e7b7";
}

.icon-left_panel_close::before {
  content: "\e668";
}

.icon-left_panel_open::before {
  content: "\e669";
}

.icon-playcircle-fill::before {
  content: "\e665";
}

.icon-stopcircle-fill::before {
  content: "\e666";
}

.icon-play-speed::before {
  content: "\e856";
}

.icon-more::before {
  content: "\e62e";
}

.icon-play::before {
  content: "\e9f9";
}

.icon-pause::before {
  content: "\e713";
}

.icon-dark_theme::before {
  content: "\e646";
}

.icon-theme-auto-1::before {
  content: "\e660";
}

.icon-theme-auto::before {
  content: "\e663";
}

.icon-auto-theme-1::before {
  content: "\e664";
}

.icon-auto-theme::before {
  content: "\e662";
}

.icon-cols_3::before {
  content: "\e65c";
}

.icon-cols_6::before {
  content: "\e65d";
}

.icon-cols_2::before {
  content: "\e65e";
}

.icon-cols_4::before {
  content: "\e65f";
}

.icon-a-save1::before {
  content: "\e65b";
}

.icon-uncollapse_all::before {
  content: "\e657";
}

.icon-collapse::before {
  content: "\e656";
}

.icon-rocket-launch::before {
  content: "\e689";
}

.icon-user-filled::before {
  content: "\e625";
}

.icon-assistant::before {
  content: "\e62d";
}

.icon-assistant-filled::before {
  content: "\e847";
}

.icon-save3::before {
  content: "\e655";
}

.icon-fankuifaqs::before {
  content: "\e7bf";
}

.icon-issues::before {
  content: "\e816";
}

.icon-neicun::before {
  content: "\e688";
}

.icon-collapse_all::before {
  content: "\e66f";
}

.icon-down::before {
  content: "\e654";
}

.icon-fenxiang::before {
  content: "\e604";
}

.icon-mosaic-2::before {
  content: "\e64f";
}

.icon-stars::before {
  content: "\e8a8";
}

.icon-mosaic::before {
  content: "\e636";
}

.icon-outline-play::before {
  content: "\e653";
}

.icon-SelectionInverse::before {
  content: "\eace";
}

.icon-justice1::before {
  content: "\e652";
}

.icon-New_img::before {
  content: "\e733";
}

.icon-new_release_outlined::before {
  content: "\e66c";
}

.icon-new-releases::before {
  content: "\e60f";
}

.icon-catalog::before {
  content: "\e62b";
}

.icon-save2::before {
  content: "\e635";
}

.icon-left-template::before {
  content: "\e62a";
}

.icon-logs::before {
  content: "\e6ec";
}

.icon-gpu::before {
  content: "\e71e";
}

.icon-filled-gpu::before {
  content: "\e6de";
}

.icon-outline-gpu::before {
  content: "\e641";
}

.icon-ts-tubiao_webserver::before {
  content: "\e716";
}

.icon-server::before {
  content: "\e66a";
}

.icon-host::before {
  content: "\e7c6";
}

.icon-playcircle::before {
  content: "\e80f";
}

.icon-recreate::before {
  content: "\e6a5";
}

.icon-save1::before {
  content: "\e647";
}

.icon-save::before {
  content: "\e67c";
}

.icon-upload_image::before {
  content: "\e613";
}

.icon-sound-wave::before {
  content: "\e619";
}

.icon-rank1::before {
  content: "\e7cb";
}

.icon-cube::before {
  content: "\e769";
}

.icon-speaker-slash::before {
  content: "\ebb6";
}

.icon-random::before {
  content: "\e603";
}

.icon-suijisenlin::before {
  content: "\e60e";
}

.icon-stop2::before {
  content: "\e8db";
}

.icon-stop::before {
  content: "\e60b";
}

.icon-image::before {
  content: "\e62c";
}

.icon-SpeakerSlash::before {
  content: "\e661";
}

.icon-SpeakerHigh::before {
  content: "\e670";
}

.icon-user_voice::before {
  content: "\e667";
}

.icon-audio::before {
  content: "\e985";
}

.icon-hard-disk::before {
  content: "\eb1d";
}

.icon-new::before {
  content: "\e612";
}

.icon-tu2::before {
  content: "\e607";
}

.icon-robot::before {
  content: "\e634";
}

.icon-robot1::before {
  content: "\e602";
}

.icon-aizhineng::before {
  content: "\e672";
}

.icon-copy::before {
  content: "\e720";
}

.icon-AIzhineng::before {
  content: "\e608";
}

.icon-clear::before {
  content: "\e60a";
}

.icon-keyboard::before {
  content: "\e61b";
}

.icon-networkerror::before {
  content: "\e624";
}

.icon-external-link::before {
  content: "\e66b";
}

.icon-huggingface::before {
  content: "\e7d1";
}

.icon-ollama::before {
  content: "\e601";
}

.icon-a-layout6-line::before {
  content: "\e9ef";
}

.icon-a-Layout5::before {
  content: "\e610";
}

.icon-English::before {
  content: "\e8b3";
}

.icon-chinese::before {
  content: "\e611";
}

.icon-yingguo::before {
  content: "\e606";
}

.icon-code::before {
  content: "\e84f";
}

.icon-stop1::before {
  content: "\e783";
}

.icon-command::before {
  content: "\e600";
}

