.player-wrap {
  width: 100%;
  display: flex;
  background-color: var(--ant-color-fill-quaternary);
  border-radius: 6px;

  .player-ui {
    padding: 8px 16px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
  }

  .play-btn {
    margin-inline: 30px;
    height: 22px;
    width: 22px;
    overflow: hidden;

    .ant-btn {
      height: 22px;
      width: 22px;
    }
  }

  .backward,
  .forward {
    background: none !important;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;

    .slider-inner {
      flex: 1;
      margin-inline: 10px;
    }
  }

  .play-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .time {
    &.current {
      margin-left: 6px;
    }
  }

  .progress-bar {
    margin-inline: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider {
      width: 100%;
    }

    .file-name {
      line-height: 20px;
      height: 20px;
    }

    .ant-slider-horizontal {
      margin-block: 5px;
    }
  }

  .speaker {
    margin-left: 10px;
    position: relative;

    .volume-slider {
      position: absolute;
      bottom: 30px;
    }
  }
}
