.alert-info-block {
  padding-block: 6px;
  padding-inline: 10px 16px;
  position: relative;
  padding-left: 32px;
  text-align: left;
  border-radius: var(--border-radius-base);
  margin: 0;
  border: 1px solid transparent;

  .ant-typography {
    margin-bottom: 0;
  }

  &.danger {
    border-color: var(--ant-color-error-border);
    background-color: var(--ant-color-error-bg);
  }

  &.warning {
    border-color: var(--ant-color-warning-border);
    background-color: var(--ant-color-warning-bg);
  }

  &.transition {
    color: var(--ant-geekblue-7);
    background: var(--ant-geekblue-1);
    border-color: var(--ant-geekblue-3);
  }

  &.success {
    border: 1px solid var(--color-progress-green);
    color: var(--color-progress-green);
    background: var(--color-green-fill-light);

    .content.success {
      font-weight: var(--font-weight-normal);
    }
  }

  .title {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 32px;
    padding: 5px 10px;
    border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;

    .info-icon {
      &.danger {
        color: var(--ant-color-error);
      }

      &.warning {
        color: var(--ant-color-warning);
      }

      &.transition {
        color: var(--ant-geekblue-7);
      }

      &.success {
        color: var(--color-progress-green);
      }
    }

    .text {
      font-weight: var(--font-weight-bold);
    }
  }
}
