.wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 8px;
  flex: 1;
  align-items: center;
}

.optionsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 4px;
}
