.row-textarea-wrapper {
  position: relative;

  .actions-wrapper {
    display: none;
    position: absolute;
    right: 6px;
    bottom: 50%;
    transform: translateY(50%);
    gap: 8px;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
  }

  .actions {
    gap: 4px;
    align-items: center;
    border-radius: var(--ant-border-radius);
  }

  &.show {
    display: flex;
    bottom: 8px;
    transform: unset;
  }

  &:hover {
    .actions-wrapper {
      display: flex;
    }
  }

  &.dropDownOpen {
    .actions-wrapper {
      display: flex;
    }
  }

  &.expanded {
    .actions-wrapper {
      display: flex;
      bottom: 8px;
      transform: unset;
    }
  }
}

.row-textarea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: var(--border-radius-base);
  border: 1px solid var(--ant-color-border);

  .textarea-wrapper {
    flex: 1;
    width: 100%;
  }

  &:hover {
    &::before {
      content: '';
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: var(--ant-color-fill-tertiary);
      z-index: 5;
      pointer-events: none;
    }
  }

  &:focus-within {
    background-color: transparent;

    &::before {
      background-color: transparent;
    }
  }

  .content-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    cursor: pointer;

    .content {
      margin-right: 60px;
    }
  }

  textarea.ant-input {
    background-color: transparent;
    box-shadow: none;
  }

  .textarea-label {
    position: relative;
    top: 4px;
    padding-left: 14px;
  }

  .content {
    flex: 1;
    width: 100px;
    height: 46px;
    line-height: 30px;
    padding: 8px 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--ant-color-text-secondary);

    .title {
      font-weight: var(--font-weight-normal);
      padding-right: 10px;
      color: var(--ant-color-text);
    }
  }
}
