.multiple-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chat-list {
    flex: 1;
    overflow-y: auto;
    padding-inline: var(--layout-content-inlinepadding);
    padding-top: 16px;
  }
}
