@HEADER_HEIGHT: 0px;

.mobileDrawer {
  :global(.ant-drawer-body) {
    height: 100%;
  }
}

.mobileBox {
  flex: 1;
  padding-inline: 24px;
  padding-top: 0;
  overflow-y: auto;

  :global(form > h3:first-of-type) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    border-left: none;
    transition: none;

    &.collapsed {
      transition: none;
    }
  }

  .box {
    width: 100%;
    padding-inline: 16px;
  }
}

.wrapper {
  position: relative;
  width: 390px;
  border-left: 1px solid var(--ant-color-split);
  transition: width 0.3s ease;
  height: calc(
    100vh - var(--app-banner-height, 0px) - @HEADER_HEIGHT - 2px -
      var(--page-content-padding) - var(--page-content-padding) -
      var(--page-header-height)
  );
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }

  .box {
    width: 390px;
    padding-inline: 24px;
    flex: 1;
    overflow-y: hidden;
  }

  &.collapsed {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    border-left: none;

    .box {
      width: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}
