.play-ground {
  display: flex;
  align-items: flex-start;

  .chat {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .params {
    padding: 20px;
    padding-top: 0;
  }

  .divider-line {
    width: 1px;

    .ant-divider {
      margin: 0;
      min-height: calc(100vh - 136px);
    }
  }
}
