.ground-left-wrapper.rerank {
  .center {
    display: flex;
    height: 100%;

    .documents {
      width: 390px;
      padding: 16px;
      padding-left: 32px;
    }

    .message-list-wrap {
      flex: 1;
    }
  }
}
