.think-wrapper {
  color: var(--ant-color-text-tertiary);

  .btn-collapse {
    margin-bottom: 8px;
    border-radius: var(--border-radius-base);
    width: max-content;
    overflow: hidden;
  }

  .think-content {
    margin-bottom: 8px;
    padding: 0 12px;
    border-left: 2px solid var(--ant-color-fill-secondary);
    // background-color: var(--ant-color-fill-tertiary);
    color: var(--ant-color-text-tertiary);
    // border-radius: var(--border-radius-base);
  }
}
