.simple-table {
  table-layout: auto;
  width: 100%;
  text-align: left;

  &.simple-table-bordered {
    border-collapse: collapse;
    border-spacing: 0;

    td {
      border-bottom: 1px solid var(--ant-color-split);
    }

    th {
      border-bottom: 1px solid var(--ant-color-split);
    }
  }

  th {
    height: 36px;
    font-weight: 600;
    color: var(--ant-color-text);
  }

  td {
    color: var(--ant-color-text-secondary);
  }

  .cell-span {
    display: flex;
    padding: 6px;
    min-height: 32px;
  }

  .cell-header {
    font-weight: var(--font-weight-medium);
  }
}
