.column-wrapper {
  flex: 1;
  height: calc(100vh - 89px);
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid var(--ant-color-split);
  // custom scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ant-color-fill);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-white-1);
  }
}

.column-wrapper-footer {
  flex: 1;
  position: relative;
  border-left: 1px solid var(--ant-color-split);

  .column-wrapper {
    padding-bottom: 50px;
    border-left: none;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--color-white-1);
  }
}
