.advanced-collapse {
  :global {
    .ant-collapse-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px !important;
      padding-inline: 5px !important;
      padding-block: 5px !important;
      border-radius: var(--border-radius-base) !important;
      font-size: var(--font-size-middle) !important;

      &:hover {
        background-color: var(--color-fill-sider) !important;
      }
    }

    .ant-collapse-content-box {
      padding-inline: 0 !important;
      padding-block: 0 !important;
    }
  }
}
