.model-card-wrap {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-base);

  .title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    height: 20px;
    margin-right: 0;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }
}

.card-wrapper {
  padding: 16px 24px;
  padding-top: 0;
}
