.model-card-wrap {
  display: flex;
  flex-direction: column;
  min-height: 72px;
  padding: 10px;
  border: 1px solid var(--ant-color-border);
  border-radius: var(--border-radius-base);

  .title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    height: 20px;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }

  .mkd-title {
    cursor: pointer;
    color: rgba(255, 255, 255, 80%);
    border-bottom: 1px solid rgba(255, 255, 255, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .simplebar-scrollbar::before {
    background: var(--color-scroll-bg);
  }
}
