.search-result-wrap {
  background-color: rgba(255, 255, 255, 100%);
  padding: 16px 20px;
  border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
  overflow-y: auto;
  height: calc(100vh - 194px);
  // custom scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ant-color-fill);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-white-1);
  }
}

.search-bar {
  left: 0;
  right: 0;
  padding-inline: 20px;
  background: var(--color-white-1);
  border-bottom: 1px solid var(--ant-color-split);
  padding-bottom: 16px;

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    color: var(--ant-color-text-tertiary);

    :global {
      .value {
        color: var(--ant-color-text);
        margin-right: 6px;
        font-weight: var(--font-weight-bold);
      }
    }
  }
}
