@padding: 24px;

.search-result-wrap {
  border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);

  .ant-spin-container.ant-spin-blur {
    opacity: unset;
  }
}

.gguf-tips {
  display: flex;
  align-items: center;
  padding: 7px 0;
  color: var(--ant-color-text-tertiary);

  .warning {
    color: var(--ant-color-warning);
  }
}

.search-bar {
  padding-inline: @padding;
  background: var(--ant-color-bg-elevated);
  padding-bottom: 10px;

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    color: var(--ant-color-text-tertiary);

    :global {
      .value {
        color: var(--ant-color-text);
        margin-right: 6px;
        font-weight: var(--font-weight-bold);
      }
    }
  }
}
