.editor-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .tools {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
  }

  .editor-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
