.tags-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    height: 22px;
    opacity: 0.7;
  }

  .tags-content {
    display: flex;
  }
}
