.label-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--ant-color-text-tertiary);
  font-size: var(--font-size-base);

  > span {
    display: flex;
    align-items: center;
  }

  .note-info {
    margin-left: 4px;
    display: flex;
    align-items: center;
  }

  .star {
    font-size: 0.7rem;
  }
}
