.editor-wrap {
  border-radius: var(--border-radius-mini);
  overflow: hidden;
  font-size: 0;

  .code-pre {
    margin-bottom: 0;
  }

  .editor-header {
    display: flex;
    padding-block: 0;
    padding-inline: 12px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-editor-header-bg);
  }
  //  set scrollbar style
  .scrollbar {
    .slider {
      border-radius: 6px;
    }
  }
}
