.portItem {
  display: flex;
  gap: 12px;
  width: 100%;
  // flex-wrap: wrap;
  .select {
    flex: 1 1 100px;
    min-width: 100px;
  }
  .port {
    flex: 1 1 100px;
    min-width: 100px;
  }
  .name {
    flex: 100 1 160px;
    min-width: 160px;
  }
}
