.portItem {
  display: flex;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
  .select {
    flex: 1 1 120px;
    min-width: 120px;
  }
  .port {
    flex: 1 1 120px;
    min-width: 120px;
  }
  .name {
    flex: 100 1 180px;
    min-width: 180px;
  }
}
