.chat-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: var(--color-white-1);

  .back-icon {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--ant-color-fill-tertiary);
  }
}
