.container-install {
  .notes {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 2px solid var(--ant-color-split);
    margin-bottom: 16px;
    padding-left: 16px;
    background: var(--color-fill-sider);
    border-radius: 2px;
    list-style-type: decimal;

    li {
      margin-left: 12px;
    }
  }

  .code-pre {
    white-space: pre-wrap;
  }

  .ant-radio-button-wrapper {
    flex: auto;
  }
}

.script-install {
  .code-pre {
    white-space: pre-wrap;
  }
}
