.markdown-viewer {
  word-break: break-word;
  font-size: var(--font-size-base);

  .hr {
    border: none;
    height: 1px;
    background-color: var(--ant-color-split);
    border-color: var(--ant-color-split);
  }

  hr {
    border: none;
    height: 1px;
    background-color: var(--ant-color-split);
    border-color: var(--ant-color-split);
  }

  p {
    margin-bottom: 0;
  }

  b {
    font-weight: var(--font-weight-bold);
  }

  pre {
    white-space: pre-wrap;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 1em;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4,
  h5,
  h6 {
    font-size: 14px;
  }

  .hj-wrapper {
    margin-top: 16px;
  }

  ul {
    margin-bottom: 0;
    padding-left: 20px;
    line-height: 2;
  }

  ol {
    margin-bottom: 0;
    padding-left: 20px;
    line-height: 2;
  }

  a * {
    color: inherit;
  }

  table {
    width: 100%;
    margin-bottom: 1.2em;
    font-size: var(--font-size-small);

    th {
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
      padding-inline: 6px;
      border: 1px solid var(--ant-color-split);
      word-break: break-word;
      text-align: left !important;
    }

    td {
      line-height: 1.5;
      padding-inline: 6px;
      border: 1px solid var(--ant-color-split);
      word-break: break-word;
      text-align: left !important;
    }

    div {
      display: inline;
    }
  }

  a {
    div {
      display: inline;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
  img[src^="https://img.shields.io/"], img[src*="badge.svg"]
  {
    margin-bottom: 6px;
    width: unset;
    max-width: 100%;
  }

  video {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-base);
  }

  audio {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-base);
  }

  .item-token {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}
