.logs-viewer-wrap-w2 {
  .wrap {
    padding: 5px 0 5px 10px;
    overflow: auto;
    background-color: var(--color-logs-bg);
    border-radius: var(--border-radius-mini);

    .content {
      word-wrap: break-word;

      &.line-break {
        word-wrap: break-word;
      }

      color: var(--color-logs-text);
      font-size: var(--font-size-small);
      line-height: 22px;
      white-space: pre-wrap;
      background-color: var(--color-logs-bg);
    }
  }

  .xterm .xterm-viewport {
    overflow-y: hidden !important;
  }
}
