.logs-wrap {
  background-color: var(--color-logs-bg);
  border-radius: var(--border-radius-mini);
  font-family:
    monospace, Menlo, Courier, 'Courier New', Consolas, Monaco,
    'Liberation Mono' !important;

  .content {
    word-wrap: break-word;
    height: 100%;
    padding-right: 2px;

    &.line-break {
      word-wrap: break-word;
    }

    .text {
      min-height: 22px;
      padding-inline-end: 80px;

      &.numable {
        position: relative;
        padding-left: 45px;

        .line-num {
          display: flex;
          align-items: center;
          width: 40px;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(71, 71, 71, 50%);
        }
      }
    }

    color: var(--color-logs-text);
    font-size: 12px;
    line-height: 22px;
    white-space: pre-wrap;
    background-color: var(--color-logs-bg);
  }
}
