.ant-pro-layout {
  .ant-pro-sider {
    padding: 10px;
    // &.ant-layout-sider {
    //   background: var(--color-white-1);
    // }
    .ant-layout-sider-children {
      background-color: var(--color-fill-1);
      border-inline: none;
      border-radius: var(--menu-border-radius-base);
      padding-inline: 16px;
      padding-block-end: 12px;
    }

    .umi-plugin-layout-right {
      width: 100%;

      .umi-plugin-layout-action {
        padding: 12px;
        width: 100%;
        border-radius: var(--menu-border-radius-base);

        &:hover {
          background-color: var(--color-white-1);
        }
      }
    }
  }
}
