.ant-table-thead {
  .ant-table-column-sorters {
    .ant-table-column-title {
      min-width: 32px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.scroll-table {
  .ant-table {
    .ant-table-container {
      .ant-table-body,
      .ant-table-content {
        scrollbar-width: thin;
        scrollbar-color: var(--color-scrollbar-thumb) transparent;
      }
    }
  }
}
